<h1>Descriptive Statistics Results</h1>

<h4>Numbers</h4>
<p><%= @numbers %></p>

<h4>Sorted Numbers</h4>
<p><%= @sorted_numbers %></p>

<h4>Count</h4>
<p><%= @count %></p>

<h4>Minimum</h4>
<p><%= @minimum %></p>

<h4>Maximum</h4>
<p><%= @maximum %></p>

<h4>Range</h4>
<p><%= @range %></p>

<h4>Median</h4>
<p><%= @median %></p>

<h4>Sum</h4>
<p><%= @sum %></p>

<h4>Mean</h4>
<p><%= @mean %></p>

<h4>Variance</h4>
<p><%= @variance %></p>

<h4>Standard Deviation</h4>
<p><%= @standard_deviation %></p>

<h4>Mode</h4>
<p><%= @mode %></p>

<a href="/descriptive_stats/new">Calculate more descriptive stats</a>