<h1>Word Count Results</h1>

<h4>Text</h4>
<p><%= @text %></p>

<h4>Word Count</h4>
<p><%= @word_count %></p>

<h4>Character Count (with spaces)</h4>
<p><%= @character_count_with_spaces %></p>

<h4>Character Count (without spaces)</h4>
<p><%= @character_count_without_spaces %></p>

<h4>Occurrences of <code><%= @special_word %></code></h4>
<p><%= @occurrences%></p>

<a href="/word_count/new">Process more text</a>